<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Liste des Additifs</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-list>
  
      <ion-item 
        text-wrap
        button
        *ngFor="let post of posts$|async"
        (click)="goPost(post)">
        <ion-thumbnail slot="start" [style.background]="post?.getColor">
            <span [style.color]="'#fff'">E{{post?.id}}</span>
        </ion-thumbnail>
        <ion-label>
          <ion-text color="dark">
            <h2>{{post?.name}}</h2>
          </ion-text>
          <p>{{post?.type}}</p>
        </ion-label>
        <ion-icon slot="end" color="primary" name="arrow-dropright-circle" clear item-right></ion-icon>
      </ion-item>
  
    </ion-list>
  
  </ion-content>