<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="information-circle"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Rechercher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="">
  <div padding>
    <ion-item>
      <ion-label>Rechercher</ion-label>
      <ion-input type="text" class="form-control" id="search" [(ngModel)]="searchValue" name="search"></ion-input>
    </ion-item>
  </div>
  <ion-button (click)="search()">Rechercher</ion-button>
</ion-content>

